<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="robots" content="index, follow" />
        <meta name="description" content="Precision Electro Mechanical" />
        <meta name="keywords" content="symfony, project" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta charset="UTF-8">

        <link rel="shortcut icon" href="/favicon.png" />
        <link rel="stylesheet" type="text/css" media="screen" href="/bundles/nstemplates/css/placeholders.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/bundles/nstemplates/css/layout.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/bundles/nstemplates/css/theme.css" />
        <!--[if lte IE 8]>
        <link rel="stylesheet" type="text/css" media="screen" href="css/ie.css" />
        <![endif]-->
        
        <title>Sales Pro 2.0</title>

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/prototype/1.7.0.0//prototype.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/scriptaculous/1.8.3//scriptaculous.js"></script>
    </head>
    
  <head>
  <body>
	{%block menu %}
	{%endblock%}

    <div id="main_content">
        <div class="layoutSection">
            {%block title %}
            {%endblock %}
        </div>
            
        {%block body %}
        {%endblock %}
    </div>
    
  </body></html>
