/* set font sizes */
html {
    font-size: 0.625em; /* Base font size */}
    
th, td, p, li, label, input, textarea, select, .plainText {
    font-size: 1.2em;
}

table p, table li, li p, table label, table input, table textarea, table select, li li {
    font-size: inherit;}

h2 {
    font-size: 2em;}
    
table h2 {
    font-size: 1.7em;}
    
a {
    color: #00A2DD;
    text-decoration: underline;}
    
a:hover {
    text-decoration: none;}

/* Common styles */
html {
    background: #939598;
    font-family: Helvetica, sans-serif;}
    
body {
    border: 0.4em solid #BBBDC0;
    background: #EBECEC;}
    
h2 {
    padding: 0;
    margin: 0.5em;}
    
/* Layout */
#main_content {}
    
/* Blocks */
    
/* Layout_section */
.layoutSection {
    padding: 1em;}

/* statusbar */
.statusBar {
    background: #00A0DC;
    color: #ffffff;}
    
.statusBarAdditional {
    margin-top: -1em;}
    
.statusInfo td {
    background: #A7A9AC;
    border: 1px solid #ffffff;
    border-width: 0 1px;
    font-weight: bold;}
    
.statusInfo td:last-child {
    border-right: none;}
    
/* panels */
.panel {
	box-shadow: 2px 2px 4px rgba(0,0,0,0.6);}

.dataPanel {
	background: #fcfcfc;}

.controlPanel {
	background: #C6C8CA;}
	
.panelTitle {
    background: #00A2DD;
    color: #ffffff;
    padding: 0.5em;
    margin: 0;}
    
.panelContent {
    padding: 0 1em;}
    
.hidden {
    display: none;}
    
/* tables */
table.dataTable {
    border-collapse: collapse;
    color: #666666;
    border: 2px solid #fcfcfc;
    margin: 1em 0;}
    
table.formTable {
    border-collapse: collapse;
    margin: 1em 0;}
    
table.dataTable th {
    background: #C6C8CA;
    font-weight: bold;
    padding: 0 0.5em;}
    
table.dataTable td {
    border: 1px solid #fcfcfc;
    border-width: 1px 2px;
    background: #E6E7E8;
    padding: 0.2em 0.5em;
    text-align: right;}
    
table.dataTable td.alignLeft {
    text-align: left;}
    
table.dataTable {}
    
table.formTable td {
    background: #fcfcfc;
    padding: 0.5em 0.5em;
    border-bottom: 1px solid #F1F1F2;}
    
table.dataTable td.null, table.dataTable th.null {
    background: transparent;
    border: none;}
    
table.dataTable td.highlight {
    background: #E5E286;
    font-weight: bold;}
    
table.zebra tr.even td {
    background: #F1F1F2;}
    
table.zebra tr.even th {
    background: #D7D9DB;}
    
table.zebra tr.even td.highlight {
    background: #F4F08E;}
    
table.highlightRow tr:hover td,
table.highlightCell td:hover,
table.highlightCell tr.even td:hover {
    background: #F6F6F7;}
    
table.highlightRow tr:hover td.highlight,
table.highlightCell td.highlight:hover,
table.highlightCell tr.even td.highlight:hover {
    background: #FFFA94;}
    
table.highlightRow tr:hover td.null,
table.highlightCell td.null:hover,
table.highlightCell tr.even td.null:hover {
    background: transparent;}
    
colgroup {
    border-left: 8px solid #fcfcfc;}
    
colgroup:first-child {
    border-left: none;}
    
/* Forms */
input[type=text], input[type=number], input[type=date] {
    border: 1px solid #C6C8CA;
    border-right-color: #F1F1F2;
    border-bottom-color: #F1F1F2;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    padding: 0.2em;}
    
table.formTable select {
    width: 100%;}
    
table.formTable input[type=text] {
    width: 100%;}
    
textarea {
    border: 1px solid #C6C8CA;
    border-right-color: #F1F1F2;
    border-bottom-color: #F1F1F2;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    padding: 0.2em;
    font-family: Helvetica, sans-serif;
    font-size: inherit;}
    
table.formTable textarea {
    width: 100%;}
    
table.formTable td.label {
    text-align: right;
    width: 30%;}
    
table.formTable td.label label {
    color: #666666;
    font-weight: bold;}
    
table.formTable p.formNote {
    color: #4C4B2C;}
    
/* Forms */
button[type=submit], button[type=reset] {
    background: #7FB23C;
    border: 3px solid #ffffff;
    box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.6);
    border-radius: 6px;
    padding: 0.2em;
    color: #ffffff;
    font-weight: bold;}
    
button[type=reset] {
    background: #3C6BB2 url(http://cdn1.iconfinder.com/data/icons/fugue/icon_shadowless/arrow_circle_315.png) 95% center no-repeat;
    padding-right: 20px;}
    
button[type=submit]:hover {
    background-color: #72A036;}
    
button[type=reset]:hover {
    background-color: #3660A0;}
    
button[type=submit]:active, button[type=reset]:active {
    box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.2);}
    
/* Nav */
ul.nav {
    font-size: 1.2em;
    background: #4A4A4C;
    box-shadow: 2px 2px 4px -2px rgba(0,0,0,0.6);
    overflow: hidden;
    z-index: 100;
    padding: 0.5em 2em;
    color: #ccc;}
    
ul.nav ul {
    background: #4A4A4C;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.6);
    z-index: 9;
    overflow: hidden;}
    
ul.nav li {
    border: 1px solid #ccc;
    border-width: 0 1px 0 0;
    cursor: default;}
    
ul.nav li:first-child {
    border-width: 0 1px 0 1px;}
    
ul.nav li a {
    padding: 0.2em 0.5em;
    color: #ccc;
    text-decoration: none;}
    
ul.nav li li a {
    display: block;
    width: 100%;}
    
ul.nav li span {
    padding: 0.2em 0.5em;}
    
ul.nav li li {
    width: 11em;
    border: none;
    font-size: inherit;}
    
ul.nav a:hover {
    background: #f3f3f3;
    color: #4A4A4C;}
    
ul.nav li li:hover {
    background: transparent;}

/* Messages */
div.bannerMessage {
    background: #357ABE;
    border: 2px solid #ffffff;
    color: #ffffff;
    overflow: hidden;}
    
div.bannerMessage h3 {
    float: left;
    font-size: 2em;
    text-transform: uppercase;
    padding: 0;
    margin: 0.8em 1.5em 1em 1em;
    background: url(/bundles/nobletsolutionsnedco/images/icons/alert-transparent.png) bottom center no-repeat;
    padding-bottom: 55px;}
    
div.bannerMessage div.messageContent {
    overflow: hidden;}
    
div.bannerMessage div.messageContent h4 {
    font-size: 1.8em;
    margin: 1em 0 0.5em 0;
    padding: 0;
    width: 80%;}
    
div.bannerMessage p {
    font-size: 1.4em;
    margin: 0.5em 0;
    width: 80%;}
    
div.bannerMessage div.messageCommit {
    float: right;
    margin: 1em;
    font-size: 1.4em;}
    
div.bannerMessage button, div.bannerMessage a.button {
    background: #4A4A4C;
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 0.2em;
    margin: 1em;
    font-size: 1em;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    cursor: default;}
    
div.bannerMessage button:hover, div.bannerMessage a.button:hover {
    color: #4a4a4c;
    background: #ffffff;
    border-color: #4a4a4c;}
    
div.bannerMessage.success {
    background-color: #35BE37;}
    
div.bannerMessage.success h3 {
    background-image: url(/bundles/nobletsolutionsnedco/images/icons/check-transparent.png);}
    
div.bannerMessage.error {
    background-color: #D68227;}
    
div.bannerMessage.error h3 {
    background-image: url(/bundles/nobletsolutionsnedco/images/icons/error-transparent.png);}
    
div.bannerMessage.critical {
    background-color: #BE3535;}
    
div.bannerMessage.critical h3 {
    background-image: url(/bundles/nobletsolutionsnedco/images/icons/alert.png);}
    
/* Paginator */
div.paginator a {
    color: #666666;
    font-weight: bold;
    font-size: 1.2em;}
    
div.paginator a:hover {
    color: #F99D27;}
    
div.paginator a.current {
    color: #888888;
    cursor: default;
    font-weight: normal;}
    
div.paginator a.paginatorFirst {
    background: url(http://cdn1.iconfinder.com/data/icons/fugue/icon_shadowless/arrow-stop-180.png) left center no-repeat;
    padding-left: 20px;}
    
div.paginator a.paginatorPrev {
    border-right: 1px solid #F99D27;
    background: url(http://cdn1.iconfinder.com/data/icons/fugue/icon_shadowless/arrow-180.png) left center no-repeat;
    padding-left: 20px;}
    
div.paginator a.paginatorNext {
    border-left: 1px solid #F99D27;
    background: url(http://cdn1.iconfinder.com/data/icons/fugue/icon_shadowless/arrow.png) right center no-repeat;
    padding-right: 20px;}
    
div.paginator a.paginatorLast {
    background: url(http://cdn1.iconfinder.com/data/icons/fugue/icon_shadowless/arrow-stop.png) right center no-repeat;
    padding-right: 20px;}
    
/* Filters */
div.filters {
    background: #4A4A4C;
    color: #cccccc;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);}
    
div.filters div.filterCol {
    padding: 1%;
    border-left: 1px solid #555555;}
    
div.filters div.filterRow {
    margin: 0.5em 0;
    border-bottom: 1px solid #555555;
    padding-bottom: 0.2em;}
    
div.filters label {
    display: block;
    font-weight: bold;}
    
div.filters div.filterRow input, div.filters div.filterRow select {
    width: 98%;}
    
div.filters button {
    float: left;
    margin: 0 0.5em;}   
    
div.filters button.filter {
    background: #7FB23C url(http://cdn1.iconfinder.com/data/icons/fugue/icon_shadowless/magnifier.png) 95% center no-repeat;
    padding-right: 20px;}
    
div.filters button.filter:hover {
    background-color: #72A036;}
    
div.filters a.filterSwitch, a.panelSwitch {
    background: url(http://cdn1.iconfinder.com/data/icons/fugue/icon_shadowless/chevron-expand.png) 3px center no-repeat;
    padding-left: 20px;
    text-decoration: none;
    color: #cccccc;
    font-size: 1.2em;}
    
a.panelSwitch {
    font-size: inherit;}
    
a.panelSwitch.alignRight {
    float: right;
    margin-right: 1em;}
    
div.filters a.filterSwitch:hover, a.panelSwitch:hover {
    color: #ffffff;}
    
div.filters.open a.filterSwitch, a.panelSwitch.open {
    background-image: url(http://cdn1.iconfinder.com/data/icons/fugue/icon_shadowless/chevron.png);}
    
/* Session Menu */
#session_menu {
    -moz-border-radius: 0 10px 10px 0;
    -o-border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    border-radius: 0 10px 10px 0;
    border: 3px double #666666;
    border-width: 3px 3px 3px 0;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.6);}
    
#session_trigger {
    border: 3px double #666666;
    border-width: 3px 3px 3px 0;
    -moz-border-radius: 0 10px 10px 0;
    -o-border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    border-radius: 0 10px 10px 0;
    background: #ffffff url(http://cdn1.iconfinder.com/data/icons/fugue/icon_shadowless/control-skip-180.png) center center no-repeat;
    width: 18px;
    height: 18px;
    outline: none;}
    
#session_trigger:hover {
    background-color: #cccccc;}
     
#session_trigger span {
    margin-left: -999em;
    position: absolute;}
    
#session_menu.closed #session_trigger {
    background-image: url(http://cdn1.iconfinder.com/data/icons/fugue/icon_shadowless/control-skip.png);
    margin-left: -10px;
    position: absolute;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 3px double #666666;}
    
#session_menu_content ul.nav {
    list-style-type: none;
    background: transparent;
    color: #666666;}
    
#session_menu_content ul.nav li {
    border: 0;}
    
#session_menu_content ul.nav li ul {
    background: #ffffff;
    color: #666666;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);}
    
#session_menu_content ul.nav li:hover {
    background: #00A2DD;}
    
#session_menu_content ul.nav li:hover > a, #session_menu_content ul.nav li:hover > span {
    color: #ffffff;}
    
#session_menu_content ul.nav a, #session_menu_content ul.nav li > span {
    color: #666666;}    
    
#session_menu_content ul.nav a:hover {
    background: transparent;}
    
/* Contacts */
div.containerPanel {
    background: #e3e3e3;
    overflow: hidden;}
    
div.contact {
    width: 22em;
    float: left;
    margin: 0.5em;
    padding: 0.5em;
    background: #ffffff;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.6);}
    
div.contact h3 {
    font-weight: normal;
    font-size: 1.8em;
    margin: 0.2em 0;
    cursor: pointer;
    background: #eeeeee;
    padding: 0.2em;}
    
div.contact h3:hover {
    background: #dddddd;}
    
div.contact p.contactRow {
    margin: 0.2em 0;}
    
div.contact.collapse {
    left: -999em;}
