{% block form_row %}
{% spaceless %}
    <div class="formRow">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block field_errors %}
    {% if errors|length > 0 %}
    <div class="fieldErrors">
            {% for error in errors %}
            <span class="val-error">
                {{ error.messageTemplate|trans(error.messageParameters, 'validators') }}
            </span>
            {% endfor %}
    </div>
    {% endif %}
{% endblock field_errors %}